body, html {
/*  width: 100%;
  height: 100%;
  position: relative;
overflow: hidden;*/
  background-color: #282828;
  color: #fff;
}
#wheelWrapper {
    width: 800px;
    height: 800px;
}

#list{
    max-height: 800px;
    overflow: auto;
}
#wheelUrl{
    width: 380px;
}

.demoBox {
  position: relative;
}
input, button {
  font-weight: bolder;
  font-size: 20px;
  color: #000;
}

input{
    width: 250px;
}

label {
  font-size: 20px;
}

#wheelWrapper, #list{
    float: left;
}
#options{
    clear: both;
}
